body {
    margin: 0;
    padding: 0;
    background-color: #B7FFBF;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: #34824E;
}

head {
    width: 100%;
    height: 30px;
}

.navmenu {
    background-color: #34824E;
    color: #ffffff;
    padding: 10px;
}

.navmenu a {
    color: #fff;
    text-decoration: none;
    text-align: left;
    padding: 20px;
}

.navmenu a:hover {
    color: blue;
}

main {
    width: 100%;
    height: 100%;
}

.o-projekt, .napravl, .galery, .plan-travel, .contacts {
    background-color: #fff;
    color: #000000;
    margin: 15px;
    border-radius: 10px;
    padding: 15px;
}

ol {
    margin: 10px;
    padding: 10px;
}

.sravn {
    border: 1px;
}

td, th {
    width: 300px;
    padding: 10px;
    text-align: left;
    border: 1px solid #dddddd;
}

th {
    background-color: #cfcfcf;
}

.galery img {
    width: 500px;
}

.galery ul {
    padding-left: 20px;
}

label {
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
}

button {
    height: 35px;
    background-color: #34824E;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

.contacts ul {
    padding-left: 20px;
}

footer {
    width: 100%;
    height: 90px;
    background-color: #000000;
    color: #ffffff;
}

footer p {
    text-align: center;
    padding: 35px;
}